{% extends "main/layout.html" %}

{% block body %}
    <h1>Remove an Item</h1>
    {% if message %}
        <div class="message">{{ message }}</div>
    {% endif %}

    <form action="{% url 'remove' %}" method="post">
        {% csrf_token %}
        <input type="text" name="item" placeholder=" Item to remove">
        <input type="submit" name="submit" style="margin-top: 20px;">
    </form>

    <div class = "changes">
        <button class="backtolist"><a href="{% url 'home' %}">Back to List =></a></button>
    </div>
    
{% endblock %}